:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@font-face {
  font-family: "MergeBlack";
  src: url("assets/MergeBlackW00Regular/MergeBlackW00Regular.woff") format("woff"),
       url("assets/MergeBlackW00Regular/MergeBlackW00Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CarosSoftHeavy";
  src: url("assets/CarosSoftHeavy/CarosSoftHeavy.woff") format("woff"),
  url("assets/CarosSoftHeavy/CarosSoftHeavy.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("assets/Montserrat/Montserrat-VariableFont_wght.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Ciutadella";
  src: url("https://db.onlinewebfonts.com/t/d4b2e75e6fe635e6b5e2938691b50b26.eot");
  src: url("https://db.onlinewebfonts.com/t/d4b2e75e6fe635e6b5e2938691b50b26.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/d4b2e75e6fe635e6b5e2938691b50b26.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/d4b2e75e6fe635e6b5e2938691b50b26.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/d4b2e75e6fe635e6b5e2938691b50b26.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/d4b2e75e6fe635e6b5e2938691b50b26.svg#Ciutadella")format("svg");
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /*background: #020024;*/
  /*background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(17, 37, 64, 1) 96%);*/
  background: #112540;
}

span {
  font-size: 1.2em;
}

.navbar {
  padding: 20px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  flex-wrap: nowrap;

}

.navLinks {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.navLinks a {
  /*color: rgb(194, 194, 109);*/
  color: orange;
  font-size: 15px;
  text-decoration: none;
  font-family: "CarosSoftHeavy", serif;
  transition: color 0.3s;
}

.navLinks a:hover {
  color: yellow;
  /*color: #ccc;*/
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(17, 37, 64, 0.998);
  z-index: 3;
}

.headingTitle {
  font-family: "MergeBlack", serif;
  /*color: rgb(194, 194, 109);*/
  color: orange;
  font-size: 25px;
  font-weight: lighter;
}

.overlayCloseButton{
  top: 30px;
  position: fixed;
  right: 20px;
}

input#menu {
  display: none;
}

.icon {
  background: none;
  cursor: pointer;
  height: 24px;
  padding: 16px;
  width: 24px;
  margin-bottom: 14px;
}

.icon .menu,
.icon .menu::before,
.icon .menu::after {
  background: orange;
  content: '';
  display: block;
  height: 2px;
  position: absolute;
  transition: background ease .3s, top ease .3s .3s, transform ease .3s;
  width: 20px;
}

.icon .menu {
  right: 18px;
}

.icon .menu::before {
  top: -6px;
}

.icon .menu::after {
  top: 6px;
}

#menu:checked + .icon .menu {
  background: transparent;
}

#menu:checked + .icon .menu::before {
  transform: rotate(45deg);
}

#menu:checked + .icon .menu::after {
  transform: rotate(-45deg);
}

#menu:checked + .icon .menu::before,
#menu:checked + .icon .menu::after {
  top: 0;
  transition: top ease .3s, transform ease .3s .3s;
}


 /*Mobile styles*/
@media (max-width: 835px) {
  .menu_button {
    display: block;
  }

  .navLinks {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
    text-align: center;
  }

  .navLinks.active {
    display: flex;
  }

  .navbar {
    flex-direction: row;
    align-items: center;
  }

  .headingTitle {
    margin-bottom: 10px;
  }
}

.huddleContainer{
  background: #FAF9F6;
  height: 150px;
  width: 100%;
  margin-top: 100px;
  padding: 10px;
  border-bottom-right-radius: 100% 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.huddleTitle{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "CarosSoftHeavy", serif;
  color: black;
  /*font-size: 4.5rem;*/
}

.huddleTitle span{
  width: auto;
  font-size: 5rem;
}

.huddleTitle img{
  height: 90px;
  width: 70px;
}

.welcomeSection {
  padding: 30px;
}

.welcomeTitle {
  text-align: center;
  /*color: rgb(194, 194, 109);*/
  color: #FFFFF0;
  font-size: 50px;
  font-family: "MergeBlack", serif;
  margin-bottom: 20px;
}

.welcomeBody{
  margin: 0 auto;
}

.welcomeBriefsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
}

.welcomeBriefs1,
.welcomeBriefs2 {
  box-sizing: border-box;
  padding: 10px;
  color: white;
  font-family: "Montserrat", serif;
}

.welcomeBriefsTexts{
  gap: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  max-width: 1000px;
  justify-content: center;
  /*text-align: justify;*/
  align-items: center;  /* THIS IS WHAT MAKES THE TEXT SIT INBETWEENN THE DIV*/
}

.welcomeBriefButton{
  /*grid-column: 1 / 2;*/
  display: flex;
  /*justify-content: center;*/
  justify-content: flex-start;
  /*padding: 10px;*/
}

.learnMoreButton{
  font-family: "Montserrat", serif;
  /*color: rgb(194, 194, 109);*/
  color: orange;
  /*color: #FFFFF0;*/
  /*height: 30px;*/
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 5px;
  background: none;
  /*font-weight: bold;*/
  font-size: 13px;
  border: none;
  cursor: pointer;
}

.learnMoreButton:hover{
  color: yellow;
}
.learnMoreButton:active{
  color: grey;
}

.learnMoreButton:after {
  content: '';
  background: url("/rightArrow.png");
  background-size: cover;
  width: 15px;
  filter: brightness(0) saturate(100%) invert(54%) sepia(94%) saturate(2140%) hue-rotate(3deg) brightness(102%) contrast(101%);
  height: 15px;
  color: yellow;
  display: inline-block;
}


/* Overlay menu */
.overlayMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #112540;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
  opacity: 0;
  transform: translateY(50px);
  pointer-events: none;
  z-index: 2;
}

.overlayMenu.open {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}


/* Centered nav links */
.overlayNav {
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: center;
}

.overlayNav a {
  font-size: 24px;
  text-decoration: none;
  font-family: "CarosSoftHeavy", serif;
  color: orange;
  transition: color 0.3s ease;
}

.overlayNav a:hover {
  color: #ccc;
}

.testimonials{
  width: 80%;
  overflow: hidden;
  margin: auto;
}

.testimonialsHeader{
  text-align: center;
  color: #FFFFF0;
  font-size: 35px;
  font-family: "MergeBlack", serif;
  margin-bottom: 20px;
}


.testimonial {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 30px 20px;
}

.testimonialText,
.testimonialImage{
  padding: 30px;
}


.testimonial img {
  width: 100%;
  max-width: 500px;
  min-width: 360px;
  border-radius: 5px;
}

.testimonialText {
  max-width: 500px;
  font-family: "Poetsen One", sans-serif;
  color: white;
  line-height: 1.8;
  font-size: 30px;
  font-weight: bold;
}

.testimonialText span{
  font-size: 13px;
  color: orange;
  bottom: 15px;
  position: relative;
}

.testimonial.reverse {
  flex-direction: row-reverse;
}

@media (max-width: 768px) {
  .testimonial,
  .testimonial.reverse {
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }

  .testimonialText,
  .testimonialImage{
    padding: 0;
  }

  .testimonialText {
    margin-top: 15px;
  }
}




.auth-container {
  max-width: 1000px;
  margin: 50px auto;
  padding: 2rem;
}

.sign_charityHeader{
  text-align: center;
  color: #FFFFF0;
  font-size: 35px;
  font-family: "MergeBlack", serif;
  margin-bottom: 20px;
}

.auth-tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  gap: 20px;
}

.tab {
  padding: 10px 20px;
  border: 1px solid #FFFFF0;
  background-color: #eee;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  width: 30vw;
  font-family: "Ciutadella", serif;
  color: #333;
}

#formText-Charity,
#formText-Login{

}

.tab.active {
  background-color: #5c80bc;
  color: white;
}

.auth-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: white;
}

.auth-content.dual-column {
  flex-direction: row;
  justify-content: space-between;
}

.auth-form {
  /*background-color: #;*/
  /*border: 1px solid black;*/
  padding: 1.5rem;
  border-radius: 8px;
  /*box-shadow: 0 0 10px rgba(0,0,0,0.2);*/
  width: 100%;
}

.auth-content.dual-column .auth-form {
  width: 48%;
}

.auth-title {
  text-align: center;
  /*font-weight: bold;*/
  font-family: "MergeBlack", serif;
  margin-bottom: 0.5rem;
  font-size: 30px;
  color: orange;

}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.social-icons i {
  font-size: 1.2rem;
  cursor: pointer;
  color: #3f70e1;
}

.or-text {
  text-align: center;
  margin: 1rem 0;
  color: #888;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  width: 100%;
  padding: 10px;
  margin: 0.5rem 0;
  border: 1px solid #ccc;
  font-family: "Ciutadella", serif;
  border-radius: 4px;
}

.form-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.terms {
  font-size: 0.9rem;
  margin: 1rem 0;
  display: block;
  font-family: "Montserrat", serif;
}

.submit-btn {
  width: 100%;
  /*background-color: #258ea6;*/
  background-color: #5c80bc;
  color: white;
  padding: 10px;
  border: none;
  font-family: "Ciutadella", serif;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.3);
  /*font-weight: bold;*/
  cursor: pointer;
}

.auth-footer {
  text-align: center;
  margin-top: 1rem;
  font-size: 0.9rem;
  font-family: "Montserrat", serif;
}

.auth-footer a {
  color: #3f70e1;
  text-decoration: none;
}

.userCredentials{
  display: flex;
  gap: 20px;
}








